/*Maps*/
.titulo-aireAcondicionado {
  color: #ffffffec;
  text-shadow: 3px 3px 7px #ff5e00;
  font-size: 2.5rem;
  text-align: center;
  padding: 15px; }

.titulo-pcDesktop {
  color: #ffffffec;
  text-shadow: 3px 3px 7px #594bdb;
  font-size: 2.5rem;
  text-align: center;
  padding: 15px; }

.titulo-notebook {
  color: #ffffffec;
  text-shadow: 3px 3px 7px #ff0000;
  font-size: 2.5rem;
  text-align: center;
  padding: 15px; }

.titulo-redesSociales {
  color: #ffffffec;
  text-shadow: 3px 3px 7px #1ead0b;
  font-size: 2.5rem;
  text-align: center;
  padding: 15px; }

/*Mixins*/
/*++++++++++++++Estilos Nav Index++++++++++++*/
nav {
  background-image: linear-gradient(to right, #888888, #ffffff);
  padding: 1rem; }

.navbar-brand {
  color: #2b2b2be1;
  text-shadow: 3px 3px 7px #ffffff;
  font-family: 'Fredoka One', sans-serif;
  font-size: 2rem; }

/*++++++++++++++Estilos Nav aireAcondicionado++++++++++++*/
.navbar .navbar-expand-lg .navbar-light .bg-light {
  grid-area: navAire; }

/*++++++++++++++Estilos Nav Notebooks++++++++++++*/
.navbar .navbar-expand-lg .navbar-light .bg-light {
  grid-area: navNotebook; }

/*++++++++++++++Estilos Nav pcDesktop++++++++++++*/
.navbar .navbar-expand-lg .navbar-light .bg-light {
  grid-area: navDesktop; }

/*++++++++++++++++Estilos Header Index+++++++++++++++++*/
.headerIndex {
  /*Estilos de area wrapper general*/
  grid-area: header;
  /*Estilos custom de seccion*/
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  padding: 10px;
  grid-template-areas: "sectionTecnico sectionPresentacion" "sectionParrafo sectionParrafo" "sectionFlechas sectionFlechas" "sectionSeleccionDispositivo sectionSeleccionDispositivo"; }
  .headerIndex .sectionTecnico {
    grid-area: sectionTecnico; }
    .headerIndex .sectionTecnico .tecnico {
      height: 23rem;
      width: 13rem; }
  .headerIndex .sectionPresentacion {
    color: #ffffffec;
    font-family: 'Fredoka One', sans-serif;
    grid-area: sectionPresentacion;
    box-sizing: border-box;
    text-shadow: 2px 2px 3.5px #ff5e00; }
    .headerIndex .sectionPresentacion h1 {
      font-size: 1.2rem; }
  .headerIndex .sectionParrafo {
    grid-area: sectionParrafo;
    color: #ffffffec;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    text-shadow: 2px 2px 3.5px #ff5e00;
    padding-top: 6rem;
    padding-left: 1rem; }
    .headerIndex .sectionParrafo #bottom {
      color: #ffffffec;
      font-size: 2rem; }

.sectionFlechas {
  grid-area: sectionFlechas;
  display: block;
  padding-top: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  text-shadow: 4px 4px 7px #ff5e00; }

.botonStart {
  display: none; }

.seleccionDeDispositivo {
  grid-area: sectionSeleccionDispositivo;
  color: #ffffffec;
  font-family: 'Fredoka One', sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
  text-shadow: 2px 2px 3.5px #ff5e00; }

/*++++++++++++Estilos Header aireAcondicionado+++++++++++++*/
.headerAire {
  grid-area: headerAire; }
  .headerAire .esquemaAire {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f0f8ffe5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 3px 2px 7px #c36a04; }
    .headerAire .esquemaAire .subtituloAire {
      color: #000000;
      text-shadow: 3px 3px 7px #ff5e00;
      font-size: 1.5rem; }
    .headerAire .esquemaAire .partesAire {
      font-size: 0.9rem; }
    .headerAire .esquemaAire .videoHeaderAire {
      height: 9rem;
      width: 16rem; }

/*++++++++++++Estilos Header notebook+++++++++++++*/
.headerNotebook {
  grid-area: headerNotebook; }
  .headerNotebook .esquemaNotebook {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f0f8ffe5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 3px 2px 7px #ff000063; }
    .headerNotebook .esquemaNotebook .subtituloNotebook {
      color: #000000;
      text-shadow: 3px 3px 7px #ff0000;
      font-size: 1.5rem; }
    .headerNotebook .esquemaNotebook .partesNotebook {
      font-size: 0.9rem; }
    .headerNotebook .esquemaNotebook .videoHeaderNotebook {
      height: 9rem;
      width: 16rem; }

/*++++++++++++++ Estilos Header pcDesktop +++++++++++++++*/
.headerDesktop {
  grid-area: headerDesktop; }
  .headerDesktop .esquemaDesktop {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f0f8ffe5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 3px 2px 7px #68e1ffee; }
    .headerDesktop .esquemaDesktop .subtituloDesktop {
      color: #000000;
      text-shadow: 3px 3px 7px #594bdb;
      font-size: 1.5rem; }
    .headerDesktop .esquemaDesktop .partesDesktop {
      font-size: 0.9rem; }
    .headerDesktop .esquemaDesktop .videoHeaderDesktop {
      height: 9rem;
      width: 16rem; }

/*++++++++++++ Estilos Header redesSociales +++++++++++++*/
.container {
  padding: 1.5rem;
  display: grid;
  grid-template-areas: "row1" "row2" "row3" "row4";
  text-shadow: 1px 1px 1px #ffffff; }
  .container .row1, .container .row2, .container .row3, .container .row4 {
    background-color: #ffffff10;
    box-shadow: 2px 2px 5px #1ead0b96;
    padding: 0.5rem;
    grid-area: row1; }
    .container .row1 .col, .container .row2 .col, .container .row3 .col, .container .row4 .col {
      pad: 30px; }
      .container .row1 .col .parrafoInfo, .container .row2 .col .parrafoInfo, .container .row3 .col .parrafoInfo, .container .row4 .col .parrafoInfo {
        color: #ffffff; }
  .container .row2 {
    grid-area: row2;
    margin-top: 1rem; }
  .container .row3 {
    grid-area: row3;
    margin-top: 1rem; }
  .container .row4 {
    grid-area: row4;
    margin-top: 1rem; }

/*-----------------Medias Queries-------------------*/
/*+-+-+-+-Estilos hasta 768px-+--+-+-+-*/
/*++++Index++++*/
@media screen and (min-width: 768px) {
  .headerIndex {
    display: grid;
    grid-template-areas: "sectionTecnico sectionPresentacion" "sectionTecnico sectionParrafo" "sectionFlechas sectionFlechas" "seleccionDeDispositivo seleccionDeDispositivo"; }
    .headerIndex .sectionTecnico {
      grid-area: sectionTecnico;
      padding-left: 5rem; }
    .headerIndex .sectionPresentacion {
      grid-area: sectionPresentacion;
      padding-top: 3rem;
      padding-left: 2rem; }
      .headerIndex .sectionPresentacion h1 {
        font-size: 1.7rem; }
    .headerIndex .sectionParrafo {
      grid-area: sectionParrafo;
      padding-bottom: 3rem;
      padding-left: 2rem; }
      .headerIndex .sectionParrafo #bottom {
        font-size: 1.5rem; }
    .headerIndex .sectionFlechas {
      grid-area: sectionFlechas; }
    .headerIndex .seleccionDeDispositivo {
      grid-area: seleccionDeDispositivo;
      padding-top: 3rem;
      padding-left: 4.7rem; } }

/*+-+-+-+-Estilos hasta 768px-+--+-+-+-*/
/*++++Index++++*/
@media screen and (min-width: 1024px) {
  .headerIndex {
    border: 15px;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
    display: grid;
    grid-template-areas: "sectionTecnico sectionPresentacion" "sectionTecnico botonStart" "sectionParrafo sectionParrafo" "seleccionDeDispositivo seleccionDeDispositivo"; }
    .headerIndex .sectionTecnico {
      grid-area: sectionTecnico;
      padding-left: 3rem; }
      .headerIndex .sectionTecnico .tecnico {
        height: 50rem;
        width: 29rem; }
    .headerIndex .sectionPresentacion {
      grid-area: sectionPresentacion;
      padding-top: 3rem;
      padding-left: 2rem; }
      .headerIndex .sectionPresentacion h1 {
        font-size: 2.5rem; }
    .headerIndex .sectionParrafo {
      grid-area: sectionParrafo;
      padding-top: 8rem;
      padding-bottom: 2rem;
      padding-left: 2rem; }
      .headerIndex .sectionParrafo #bottom {
        font-size: 3rem; }
    .headerIndex .sectionFlechas {
      grid-area: sectionFlechas;
      display: none; }
    .headerIndex .seleccionDeDispositivo {
      grid-area: seleccionDeDispositivo;
      padding-top: 3rem;
      padding-left: 4.7rem;
      font-size: 2.2rem; }
    .headerIndex .botonStart {
      grid-area: botonStart;
      display: block;
      padding-left: 3rem;
      padding-top: 0rem; }
      .headerIndex .botonStart img {
        height: 15rem;
        width: 13rem;
        margin-top: -23rem;
        margin-left: 5rem;
        transition: transform 1s; }
      .headerIndex .botonStart .botonComenzar:hover {
        transform: scale(1.5); } }

@media screen and (min-width: 1750px) {
  .headerIndex .sectionTecnico {
    grid-area: sectionTecnico;
    padding-left: 8rem; }
    .headerIndex .sectionTecnico .tecnico {
      height: 59rem;
      width: 35rem; }
  .headerIndex .botonStart {
    display: block;
    padding-left: 7rem; }
    .headerIndex .botonStart img {
      height: 18rem;
      width: 15rem;
      margin-top: -23rem;
      margin-left: 8rem;
      transition: height 1s, width 1s; }
    .headerIndex .botonStart .botonComenzar:hover {
      height: 26rem;
      width: 22rem; }
  .headerIndex .seleccionDeDispositivo {
    padding-top: 3rem;
    padding-left: 12rem;
    font-size: 3rem; } }

/*++++++++++Estilos body Index++++++++++++*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  height: 100%;
  width: 100%; }

body {
  background-color: #0f0f0f;
  background-image: url(../public/image/fondoherramientas2.png);
  background-repeat: repeat;
  background-size: 26rem;
  justify-content: center; }

/*++++++++++Estilos body aireAcondicionado++++++++++++*/
.bodyAires {
  background-color: #000000;
  background-image: url(../public/image/fondoAireAcondicionado2.png);
  background-repeat: repeat;
  background-size: 26rem;
  justify-content: center; }

/*+++++++++++++Estilos body notebook+++++++++++++++*/
.bodyNotebook {
  background-color: #000000;
  background-image: url(../public/image/fondoNotebook2.png);
  background-repeat: repeat;
  background-size: 26rem;
  justify-content: center; }

/*+++++++++++++Estilos body pcDesktop+++++++++++++++*/
.bodyDesktop {
  background-color: #000000;
  background-image: url(../public/image/fondoPcGamer.png);
  background-repeat: repeat;
  background-size: 26rem;
  justify-content: center; }

/*++++++++++++++++Estilos Main Index++++++++++++++++++*/
.aireAcondicionado, .desktop, .notebook, .proximamente, .proximamente2, .proximamente3 {
  border: none; }

.mainIndex {
  grid-area: main;
  display: grid;
  grid-template-areas: "aireAcondicionado" "desktop" "notebook" "proximamente" "proximamente2" "proximamente3";
  justify-content: center;
  flex-wrap: wrap; }
  .mainIndex .aireAcondicionado {
    grid-area: aireAcondicionado; }
  .mainIndex .desktop {
    grid-area: desktop; }
  .mainIndex .notebook {
    grid-area: notebook; }
  .mainIndex .proximamente {
    grid-area: proximamente; }
  .mainIndex .proximamente2 {
    grid-area: proximamente2; }
  .mainIndex .proximamente3 {
    grid-area: proximamente3; }

.producto {
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1.5rem;
  background-color: #f8f8f873;
  box-shadow: 3px 3px 5px  #b8b8b8; }
  .producto .parrafoProducto {
    color: #ffffffec;
    font-size: 1.2rem; }
  .producto .imagenes {
    margin: 2rem;
    height: 16rem;
    width: 16rem; }

/*+++++++++++++Estilos Main aireAcondicionado++++++++++++++*/
.mainAire {
  grid-area: mainAire; }
  .mainAire .fallasAire {
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 7px #c36a04;
    background-color: #f0f8ffe5; }
    .mainAire .fallasAire .partesAire {
      font-size: 1rem; }
    .mainAire .fallasAire .subtituloMainAire {
      text-align: center;
      font-size: 2rem;
      color: #000000;
      text-shadow: 3px 3px 7px #ff5e00; }
    .mainAire .fallasAire .pMarcas {
      font-size: 1rem;
      margin-bottom: 0.5rem; }
      .mainAire .fallasAire .pMarcas p {
        margin-bottom: 0rem; }
  .mainAire .sectionFallas {
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-areas: "divFalla1 divFalla2" "divFalla3 divFalla4" "divFalla5 divFalla6"; }
    .mainAire .sectionFallas div {
      justify-content: center;
      align-content: center;
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: #f8f8f89c;
      box-shadow: 3px 2px 15px #302d2a; }
      .mainAire .sectionFallas div .imagenAireGoteando {
        padding: 0.25rem;
        margin: 0.25rem;
        width: 5.2rem;
        height: 5.2rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center; }
      .mainAire .sectionFallas div .textArea {
        height: 7rem;
        width: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .mainAire .sectionFallas div .h3Falla {
        font-size: 1.2rem; }
    .mainAire .sectionFallas .divFalla1 {
      grid-area: divFalla1; }
    .mainAire .sectionFallas .divFalla2 {
      grid-area: divFalla2; }
    .mainAire .sectionFallas .divFalla3 {
      grid-area: divFalla3; }
    .mainAire .sectionFallas .divFalla4 {
      grid-area: divFalla4; }
    .mainAire .sectionFallas .divFalla5 {
      grid-area: divFalla5; }
    .mainAire .sectionFallas .divFalla6 {
      grid-area: divFalla6; }
  .mainAire .divFalla7 {
    grid-area: divFalla7;
    padding: 0.5rem;
    margin: 0.5rem; }
  .mainAire .botonNext {
    padding: 0.5rem;
    margin: 2rem;
    height: 10rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/*++++++++++++++Estilos Main Notebook++++++++++++*/
.mainNotebook {
  grid-area: mainNotebook; }
  .mainNotebook .fallasNotebook {
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 7px #ff000063;
    background-color: #f0f8ffe5; }
    .mainNotebook .fallasNotebook .partesNotebook {
      font-size: 1rem; }
    .mainNotebook .fallasNotebook .subtituloMainNotebook {
      text-align: center;
      font-size: 2rem;
      color: #000000;
      text-shadow: 3px 3px 7px #ff0000; }
    .mainNotebook .fallasNotebook .pMarcas {
      font-size: 1rem;
      margin-bottom: 0.5rem; }
      .mainNotebook .fallasNotebook .pMarcas p {
        margin-bottom: 0rem; }
  .mainNotebook .sectionFallasNotebook {
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-areas: "divFalla1Note divFalla2Note" "divFalla3Note divFalla4Note" "divFalla5Note divFalla6Note"; }
    .mainNotebook .sectionFallasNotebook div {
      justify-content: center;
      align-content: center;
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: #f8f8f89c;
      box-shadow: 3px 2px 15px #302d2a; }
      .mainNotebook .sectionFallasNotebook div .imagenNotebookNoEnciende {
        padding: 0.25rem;
        margin: 0.25rem;
        width: 5.8rem;
        height: 5.8rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center; }
      .mainNotebook .sectionFallasNotebook div .textAreaNote {
        height: 7rem;
        width: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .mainNotebook .sectionFallasNotebook div .h3Falla {
        font-size: 1rem; }
    .mainNotebook .sectionFallasNotebook .divFalla1Note {
      grid-area: divFalla1Note; }
    .mainNotebook .sectionFallasNotebook .divFalla2Note {
      grid-area: divFalla2Note; }
    .mainNotebook .sectionFallasNotebook .divFalla3Note {
      grid-area: divFalla3Note; }
    .mainNotebook .sectionFallasNotebook .divFalla4Note {
      grid-area: divFalla4Note; }
    .mainNotebook .sectionFallasNotebook .divFalla5Note {
      grid-area: divFalla5Note; }
    .mainNotebook .sectionFallasNotebook .divFalla6Note {
      grid-area: divFalla6Note; }
  .mainNotebook .divFalla7Note {
    grid-area: divFalla7Note;
    padding: 0.5rem;
    margin: 0.5rem; }
  .mainNotebook .botonNext {
    padding: 0.5rem;
    margin: 2rem;
    height: 10rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/*++++++++++++++Estilos Main pcDesktop++++++++++++*/
.mainDesktop {
  grid-area: mainDesktop; }
  .mainDesktop .fallasDesktop {
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 7px #68e1ffee;
    background-color: #f0f8ffe5; }
    .mainDesktop .fallasDesktop .partesDesktop {
      font-size: 1rem; }
    .mainDesktop .fallasDesktop .subtituloMainDesktop {
      text-align: center;
      font-size: 2rem;
      color: #000000;
      text-shadow: 3px 3px 7px #594bdb; }
    .mainDesktop .fallasDesktop .pMarcas {
      font-size: 1rem;
      margin-bottom: 0.5rem; }
      .mainDesktop .fallasDesktop .pMarcas p {
        margin-bottom: 0rem; }
  .mainDesktop .sectionFallasDesktop {
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-areas: "divFalla1Pc divFalla2Pc" "divFalla3Pc divFalla4Pc" "divFalla5Pc divFalla6Pc"; }
    .mainDesktop .sectionFallasDesktop div {
      justify-content: center;
      align-content: center;
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: #f8f8f89c;
      box-shadow: 3px 2px 15px #302d2a; }
      .mainDesktop .sectionFallasDesktop div .imagenFallaDesktop {
        padding: 0.25rem;
        margin: 0.25rem;
        width: 5.8rem;
        height: 5.8rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center; }
      .mainDesktop .sectionFallasDesktop div .textAreaDesktop {
        height: 7rem;
        width: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .mainDesktop .sectionFallasDesktop div .h3Falla {
        font-size: 1rem; }
    .mainDesktop .sectionFallasDesktop .divFalla1Pc {
      grid-area: divFalla1Pc; }
    .mainDesktop .sectionFallasDesktop .divFalla2Pc {
      grid-area: divFalla2Pc; }
    .mainDesktop .sectionFallasDesktop .divFalla3Pc {
      grid-area: divFalla3Pc; }
    .mainDesktop .sectionFallasDesktop .divFalla4Pc {
      grid-area: divFalla4Pc; }
    .mainDesktop .sectionFallasDesktop .divFalla5Pc {
      grid-area: divFalla5Pc; }
    .mainDesktop .sectionFallasDesktop .divFalla6Pc {
      grid-area: divFalla6Pc; }
  .mainDesktop .divFalla7Pc {
    grid-area: divFalla7Pc;
    padding: 0.5rem;
    margin: 0.5rem; }
  .mainDesktop .botonNext {
    padding: 0.5rem;
    margin: 2rem;
    height: 10rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/*++++++++++++++Estilos Main redesSociales++++++++++++*/
.mainLegales {
  color: #000000; }
  .mainLegales .legales {
    margin: 1rem 1rem;
    font-size: 1.5rem;
    margin: 1.5rem;
    box-shadow: 3px 2px 7px #1ead0b;
    background-color: #f0f8ff1c; }
    .mainLegales .legales li {
      font-size: 1rem;
      color: #ffffffec; }

/*-----------------Medias Queries-------------------*/
/*+-+-+-+-Estilos hasta 768px-+--+-+-+-*/
/*++++Index++++*/
@media screen and (min-width: 768px) {
  .mainIndex {
    display: grid;
    grid-template-areas: "aireAcondicionado desktop" "notebook proximamente" "proximamente2 proximamente3";
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr 5fr; }
    .mainIndex .aireAcondicionado {
      grid-area: aireAcondicionado; }
    .mainIndex .desktop {
      grid-area: desktop; }
    .mainIndex .notebook {
      grid-area: notebook; }
    .mainIndex .proximamente {
      grid-area: proximamente; }
    .mainIndex .proximamente2 {
      grid-area: proximamente2; }
    .mainIndex .proximamente3 {
      grid-area: proximamente3; } }

/*+-+-+-+-Estilos hasta 1024px-+--+-+-+-*/
/*++++Index++++*/
@media screen and (min-width: 1024px) {
  .mainIndex {
    display: grid;
    grid-template-areas: "aireAcondicionado desktop notebook" "proximamente proximamente2 proximamente3";
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr; }
    .mainIndex img {
      transition: transform 0.5s; }
    .mainIndex img:hover {
      transform: scale(1.2); }
    .mainIndex .aireAcondicionado {
      grid-area: aireAcondicionado; }
    .mainIndex .desktop {
      grid-area: desktop; }
    .mainIndex .notebook {
      grid-area: notebook; }
    .mainIndex .proximamente {
      grid-area: proximamente; }
    .mainIndex .proximamente2 {
      grid-area: proximamente2; }
    .mainIndex .proximamente3 {
      grid-area: proximamente3; } }

@media screen and (min-width: 1750px) {
  .mainIndex .producto {
    padding: 4rem 1rem 4rem 1rem; } }

/*+++++++++Estilos Footer Index Mobile+++++++++++*/
footer {
  grid-area: footer;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  position: fixed;
  font-size: 1.5rem;
  padding: 0.5rem;
  justify-items: center;
  align-items: center;
  left: 0px;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background-color: #cacacaee; }
  footer section {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; }

/*+++++++++++++Estilos Footer aireAcondicionado+++++++++++++++*/
.footerAire {
  grid-area: footerAire;
  position: fixed; }

/*+++++++++++++Estilos Footer Notebook+++++++++++++++*/
.footerNotebook {
  grid-area: footerNotebook;
  position: fixed; }

/*-----------------Medias Queries-------------------*/
/*+-+-+-+-Estilos hasta 1024px-+--+-+-+-*/
/*++++Index++++*/
@media screen and (min-width: 1024px) {
  .footerMobile {
    display: none; }
  .footerEscritorio {
    display: block;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly; }
  footer {
    position: relative;
    padding: 0px; } }
