/*++++++++++++++Estilos Nav Index++++++++++++*/
nav {
  background-image: linear-gradient(to right, #888888, #ffffff);
  padding: 1rem; }

.navbar-brand {
  color: #2b2b2be1;
  text-shadow: 3px 3px 7px #ffffff;
  font-family: 'Fredoka One', sans-serif;
  font-size: 2rem; }

/*++++++++++++++Estilos Nav aireAcondicionado++++++++++++*/
.navbar .navbar-expand-lg .navbar-light .bg-light {
  grid-area: navAire; }

/*++++++++++++++++Estilos Header Index+++++++++++++++++*/
.headerIndex {
  /*Estilos de area wrapper general*/
  grid-area: header;
  /*Estilos custom de seccion*/
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  padding: 10px;
  grid-template-areas: "sectionTecnico sectionPresentacion" "sectionParrafo sectionParrafo" "sectionFlechas sectionFlechas" "sectionSeleccionDispositivo sectionSeleccionDispositivo"; }
  .headerIndex .sectionTecnico {
    grid-area: sectionTecnico; }
    .headerIndex .sectionTecnico .tecnico {
      height: 25rem;
      width: 14rem; }
  .headerIndex .sectionPresentacion {
    color: #ffffffec;
    font-family: 'Fredoka One', sans-serif;
    grid-area: sectionPresentacion;
    font-size: 0.8rem;
    box-sizing: border-box;
    text-shadow: 2px 2px 3.5px #ff5e00; }
  .headerIndex .sectionParrafo {
    grid-area: sectionParrafo;
    color: #ffffffec;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    text-shadow: 2px 2px 3.5px #ff5e00; }
    .headerIndex .sectionParrafo #bottom {
      color: #ffffffec;
      font-size: 2rem; }

.sectionFlechas {
  grid-area: sectionFlechas;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  text-shadow: 4px 4px 7px #ff5e00; }

.botonStart {
  display: none; }

.seleccionDeDispositivo {
  grid-area: sectionSeleccionDispositivo;
  color: #ffffffec;
  font-family: 'Fredoka One', sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
  text-shadow: 2px 2px 3.5px #ff5e00; }

/*++++++++++++Estilos Header aireAcondicionado+++++++++++++*/
.headerAire {
  grid-area: headerAire; }
  .headerAire .tituloAire {
    color: #ffffffec;
    text-shadow: 3px 3px 7px #ff5e00;
    font-size: 2.5rem;
    text-align: center;
    padding: 15px; }
  .headerAire .esquemaAire {
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 3px 2px 7px #c46a04;
    background-color: #f0f8ffe5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
    .headerAire .esquemaAire .subtituloAire {
      color: #000000;
      text-shadow: 3px 3px 7px #ff5e00;
      font-size: 1.5rem; }
    .headerAire .esquemaAire .partesAire {
      font-size: 0.9rem; }
    .headerAire .esquemaAire .videoHeader {
      height: 9rem;
      width: 16rem; }

/*++++++++++Estilos body Index++++++++++++*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  height: 100%;
  width: 100%; }

body {
  background-color: #0f0f0f;
  background-image: url(../public/image/fondoherramientas2.png);
  background-repeat: repeat;
  background-size: 26rem;
  justify-content: center; }

/*++++++++++Estilos body aireAcondicionado++++++++++++*/
.bodyAires {
  background-color: #000000;
  background-image: url(../public/image/fondoAireAcondicionado2.png);
  background-repeat: repeat;
  background-size: 26rem;
  justify-content: center; }

/*++++++++++++++++Estilos Main Index++++++++++++++++++*/
.aireAcondicionado, .desktop, .notebook, .proximamente, .proximamente2, .proximamente3 {
  border: none; }

.mainIndex {
  grid-area: main;
  display: grid;
  grid-template-areas: "aireAcondicionado" "desktop" "notebook" "proximamente" "proximamente2" "proximamente3";
  justify-content: center;
  flex-wrap: wrap; }
  .mainIndex .aireAcondicionado {
    grid-area: aireAcondicionado; }
  .mainIndex .desktop {
    grid-area: desktop; }
  .mainIndex .notebook {
    grid-area: notebook; }
  .mainIndex .proximamente {
    grid-area: proximamente; }
  .mainIndex .proximamente2 {
    grid-area: proximamente2; }
  .mainIndex .proximamente3 {
    grid-area: proximamente3; }

.producto {
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1.5rem;
  background-color: #f8f8f873;
  box-shadow: 3px 3px 5px  #b8b8b8; }
  .producto .parrafoProducto {
    color: #ffffffec;
    font-size: 1.2rem; }
  .producto .imagenes {
    height: 16rem;
    width: 16rem; }

/*+++++++++++++Estilos Main aireAcondicionado++++++++++++++*/
.mainAire {
  grid-area: mainAire; }
  .mainAire .fallasAire {
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 7px #7488e2;
    background-color: #f0f8ffe5; }
    .mainAire .fallasAire .partesAire {
      font-size: 1rem; }
    .mainAire .fallasAire .subtituloMainAire {
      text-align: center;
      font-size: 2rem;
      color: #000000;
      text-shadow: 3px 3px 7px #ff5e00; }
    .mainAire .fallasAire .pMarcas {
      font-size: 1rem;
      margin-bottom: 0.5rem; }
      .mainAire .fallasAire .pMarcas p {
        margin-bottom: 0rem; }
  .mainAire .sectionFallas {
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-areas: "divFalla1 divFalla2" "divFalla3 divFalla4" "divFalla5 divFalla6" "divFalla7 divFalla7"; }
    .mainAire .sectionFallas div {
      display: grid;
      justify-content: center;
      align-content: center;
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: #f8f8f89c;
      box-shadow: 3px 2px 15px #302d2a; }
      .mainAire .sectionFallas div .imagenAireGoteando {
        padding: 0.25rem;
        margin: 0.25rem;
        width: 5.2rem;
        height: 5.2rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center; }
      .mainAire .sectionFallas div .textArea {
        height: 7rem;
        width: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .mainAire .sectionFallas .divFalla1 {
      grid-area: divFalla1; }
    .mainAire .sectionFallas .divFalla2 {
      grid-area: divFalla2; }
    .mainAire .sectionFallas .divFalla3 {
      grid-area: divFalla3; }
    .mainAire .sectionFallas .divFalla4 {
      grid-area: divFalla4; }
    .mainAire .sectionFallas .divFalla5 {
      grid-area: divFalla5; }
    .mainAire .sectionFallas .divFalla6 {
      grid-area: divFalla6; }
    .mainAire .sectionFallas .divFalla7 {
      grid-area: divFalla7; }
    .mainAire .sectionFallas .botonNext {
      height: 12rem;
      width: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

/*+++++++++Estilos Footer Index Mobile+++++++++++*/
footer {
  grid-area: footer;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  position: fixed;
  font-size: 1.5rem;
  padding: 0.5rem;
  justify-items: center;
  align-items: center;
  left: 0px;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background-color: #cacacaee; }
  footer section {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; }

/*+++++++++++++Estilos Footer aireAcondicionado+++++++++++++++*/
.footerAire {
  grid-area: footerAire;
  position: fixed; }
