/*++++++++++Estilos body Index++++++++++++*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

html {
    height: 100%;
    width: 100%;
}

body {
    
    background-color: #0f0f0f;
   /* background-image: url(../public/image/fondoherramientas2.png); */
    position: absolute;
    background-size: 30rem;
    justify-content: center;
    
}


/*++++++++++Estilos body aireAcondicionado++++++++++++*/

.bodyAires {
    background-color: #000000;
    background-image: url(../public/image/aireAcondicionado/fondoAireAcondicionado2.png); 
    background-repeat: repeat;
    background-size: 26rem;
    justify-content: center;
}


/*+++++++++++++Estilos body notebook+++++++++++++++*/

.bodyNotebook {
    background-color: #000000;
    background-image: url(../public/image/notebooks/fondoNotebook2.png); 
    background-repeat: repeat;
    background-size: 26rem;
    justify-content: center;
}

/*+++++++++++++Estilos body pcDesktop+++++++++++++++*/

.bodyDesktop {
    background-color: #000000;
    background-image: url(../public/image/pcDesktop/fondoPcGamer.png); 
    background-repeat: repeat;
    background-size: 26rem;
    justify-content: center;
}