/*++++++++++++++++Estilos Header Index+++++++++++++++++*/

.headerIndex {
    /*Estilos de area wrapper general*/
    grid-area: header;
    /*Estilos custom de seccion*/
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns:min-content;
    grid-template-rows:min-content;
    padding: 10px;
    grid-template-areas:
        "sectionTecnico sectionPresentacion"
        "sectionParrafo sectionParrafo"
        "sectionFlechas sectionFlechas"
        "sectionSeleccionDispositivo sectionSeleccionDispositivo"        
    ;
    .sectionTecnico{
        
        grid-area: sectionTecnico;

        .tecnico {
            height: 23rem;
            width: 13rem;
        }
        
    }
    .sectionPresentacion {
        color: $color-texto-gral;
        font-family: 'Fredoka One', sans-serif;
        grid-area: sectionPresentacion;
        box-sizing: border-box;
        text-shadow: 2px 2px 3.5px #ff5f5f;
        
        h1{
            font-size: 1.2rem;
        }
    }
    .sectionParrafo{
        grid-area: sectionParrafo;
        color: $color-texto-gral;
        font-family: 'Fredoka One', sans-serif;
        font-size: 1.5rem;
        box-sizing: border-box;
        text-shadow: 2px 2px 3.5px #ff5f5f; 
        padding-top: 6rem;
        padding-left: 1rem;

        #bottom{
            color: $color-texto-gral;
            font-size: 2rem;
            }
    }

}


.sectionFlechas{
    
    grid-area: sectionFlechas;
    display: block;
    padding-top: 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    text-shadow: 4px 4px 7px $color-sombras-index;
    
}

.botonStart { 
    display: none;
    
}

.seleccionDeDispositivo {
    grid-area: sectionSeleccionDispositivo;
    color: $color-texto-gral;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    text-shadow: 2px 2px 3.5px #ff5f5f;
    
}

/*++++++++++++Estilos Header aireAcondicionado+++++++++++++*/

    .headerAire {
        grid-area: headerAire; 
        margin: 1rem;

        .esquemaAire {
            
            @include esquemasHeaderDispositivos;
            box-shadow: 3px 2px 7px $color-sombras-cuadros-aire; 

                .subtituloAire {
                    color: $color-texto-secundario;
                    text-shadow: 3px 3px 7px $color-sombras-index;
                    font-size: 1.5rem;      
                }

                .partesAire {
                    font-size: 0.9rem;
                    
                }
                .videoHeaderAire{
                    height: 9rem;
                    width: 16rem;
                }
            
        }
    }

/*++++++++++++Estilos Header notebook+++++++++++++*/

.headerNotebook {
    grid-area: headerNotebook; 
    margin: 1rem;

    .esquemaNotebook {
        
        @include esquemasHeaderDispositivos;
        box-shadow: 3px 2px 7px $color-sombras-cuadros-notebook; 

        .subtituloNotebook {
            color: $color-texto-secundario;
            text-shadow: 3px 3px 7px $color-sombras-notebook;
            font-size: 1.5rem;      
        }

        .partesNotebook {
            font-size: 0.9rem;
        }

        .videoHeaderNotebook{
            height: 9rem;
            width: 16rem;
        }
    }
}

/*++++++++++++++ Estilos Header pcDesktop +++++++++++++++*/

.headerDesktop {
    grid-area: headerDesktop;
    margin: 1rem; 

    .esquemaDesktop {

        @include esquemasHeaderDispositivos;
        box-shadow: 3px 2px 7px $color-sombras-cuadros-pcdesktop; 
        
            .subtituloDesktop {
                color: $color-texto-secundario;
                text-shadow: 3px 3px 7px $color-sombras-pcdesktop;
                font-size: 1.5rem;  
            }

            .partesDesktop {
                font-size: 0.9rem;
            }

            .videoHeaderDesktop{
                height: 9rem;
                width: 16rem;
            }
        }
    }


/*++++++++++++ Estilos Header redesSociales +++++++++++++*/

.container {
    padding: 1.5rem;
    display: grid;
    grid-template-areas: 
    "row1"
    "row2"
    "row3"
    "row4";
    text-shadow: 1px 1px 1px #ffffff;
    gap: 2rem; 
    
    
    .row1 {
        background-color: #ffffff10; 
        box-shadow: 2px 2px 5px #1ead0b96;        
        padding: 0.5rem;
        grid-area: row1;
        
        .col{
            pad: 30px;
    
            .parrafoInfo{

                color: #ffffff;
            }
        }
    }

    .row2 {
        grid-area: row2;
        @extend .row1;    
    }

    .row3 {
        grid-area: row3;
        @extend .row1;      
    }

    .row4 {
        grid-area: row4;
        @extend .row1;    
    }

}

/*++++++++++++Estilos Header serviciosAiresAcondicionados+++++++++++++*/

.headerServiciosAires {
    h1{
        color: $color-texto-gral;
        text-shadow: #ff5e00 1px 3px 3px;
        text-align: center;
        font-size: 2.5rem;
        margin: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    h2{
        color: $color-texto-gral;
        text-shadow: #00f7ff 1px 3px 3px;
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
        padding-left: 0.5rem;
        text-align: center;
    }
}

@media screen and (min-width: 1024px){
    .headerServiciosAires {
        h1{ 
            font-size: 4.5rem;
        }
        h2{
            font-size: 2.5rem;
        }
    }
}

@media screen and (min-width: 1750px){
    .headerServiciosAires {
        h1{ 
            font-size: 5.5rem;
        }
        h2{
            font-size: 3.5rem;
        }
    }
}

/*-----------------Medias Queries-------------------*/

    /*+-+-+-+-Estilos hasta 768px-+--+-+-+-*/

        /*++++Index++++*/
@media screen and (min-width: 768px) {


    .headerIndex{
        display: grid;
        grid-template-areas: 
        "sectionTecnico sectionPresentacion"
        "sectionTecnico sectionParrafo"
        "sectionFlechas sectionFlechas"
        "seleccionDeDispositivo seleccionDeDispositivo";

        .sectionTecnico{
            grid-area: sectionTecnico;
            padding-left: 5rem;
        }

        .sectionPresentacion{
            grid-area: sectionPresentacion;
            padding-top: 3rem;
            padding-left: 2rem;

            h1{
                font-size: 1.7rem;
            }
        }

        .sectionParrafo{
            grid-area: sectionParrafo;
            padding-bottom: 3rem;
            padding-left: 2rem;

            #bottom{
                    font-size: 1.5rem;
                } 
        }

        .sectionFlechas {
            grid-area: sectionFlechas;
        }

        .seleccionDeDispositivo{
            grid-area: seleccionDeDispositivo;
            padding-top: 3rem;
            padding-left: 4.7rem;
        }
    }

    
    /*++++++++ aireAcondicionado ++++++++++*/
    
    .headerAire {
        margin: 2rem; 

        .titulo-aireAcondicionado{
            font-size: 3.5rem;
        }
        
        .esquemaAire {
               
            .subtituloAire {
                font-size: 2.5rem;  
                padding-bottom: 1rem;
                
            }
            
            .partesAire {
                font-size: 1.5rem;
                
            }
            .videoHeaderAire{
                padding-top: 1rem;
                height: 20rem;
                width: 30rem;
            }
            
        }
    }

    /*++++++++ Notebook ++++++++++*/
    
    .headerNotebook {
        margin: 2rem; 

        .titulo-notebook{
            font-size: 3.5rem;
        }
        
        .esquemaNotebook {
               
            .subtituloNotebook {
                font-size: 2.5rem;  
                padding-bottom: 1rem;
                
            }
            
            .partesNotebook {
                font-size: 1.5rem;
                
            }
            .videoHeaderNotebook {
                padding-top: 1rem;
                height: 20rem;
                width: 30rem;
            }
            
        }
    }

    /*++++++++ pcDesktop ++++++++++*/
    
    .headerDesktop {
        margin: 2rem; 

        .titulo-pcDesktop{
            font-size: 3.5rem;
        }
        
        .esquemaDesktop {
               
            .subtituloDesktop {
                font-size: 2.5rem;  
                padding-bottom: 1rem;
                
            }
            
            .partesDesktop {
                font-size: 1.5rem;
                
            }
            .videoHeaderDesktop {
                padding-top: 1rem;
                height: 20rem;
                width: 30rem;
            }
            
        }
    }

/*++++++++++++ redesSociales +++++++++++++*/

    .container {
        padding: 1.5rem;
        grid-template-areas: 
        "row1 row2"
        "row3 row4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/*+-+-+-+-Estilos hasta 1024px-+--+-+-+-*/

        /*++++Index++++*/


        @media screen and (min-width: 1024px) {


            .headerIndex{
                border: 15px;
                flex-direction: row;
                justify-content: space-between;
                margin: 12px;
                display: grid;
                grid-template-areas: 
                    "sectionTecnico sectionPresentacion"
                    "sectionTecnico botonStart"
                    "sectionParrafo sectionParrafo"
                    "seleccionDeDispositivo seleccionDeDispositivo"
                    ;
        
                .sectionTecnico{
                    grid-area: sectionTecnico;
                    padding-left: 3rem;

                    .tecnico {
                        height: 50rem;
                        width: 29rem;
                    }
                }
        
                .sectionPresentacion{
                    grid-area: sectionPresentacion;
                    padding-top: 3rem;
                    padding-left: 2rem;
        
                    h1{
                        font-size: 2.5rem;
                    }
                }
        
                .sectionParrafo{
                    grid-area: sectionParrafo;
                    padding-top: 8rem;
                    padding-bottom: 2rem;
                    padding-left: 2rem;
        
                    #bottom{
                            font-size: 3rem;
                        } 
                }
        
                .sectionFlechas {
                    grid-area: sectionFlechas;
                    display: none;
                    
                }
        
                .seleccionDeDispositivo{
                    grid-area: seleccionDeDispositivo;
                    padding-top: 3rem;
                    padding-left: 4.7rem;
                    font-size: 2.2rem;
                
                }
                .botonStart{

                    grid-area: botonStart;
                    display:block;
                    padding-left: 3rem;
                    padding-top: 0rem;

                    
                    img{
                        height: 15rem;
                        width: 13rem;
                        margin-top: -23rem;
                        margin-left: 5rem;
                        transition: transform 1s;
                    }
                    .botonComenzar:hover{
                        transform: scale(1.5);
                    }
                    

                }
            }
        }


 /*+-+-+-+-Estilos hasta 1750px-+--+-+-+-*/

@media screen and (min-width: 1750px){
    
/*++++++++++++++Index+++++++++++++*/

    .headerIndex{
        .sectionTecnico{
            grid-area: sectionTecnico;
            padding-left: 8rem;
        
            .tecnico {
                height: 59rem;
                width: 35rem;
            }
        }

        .botonStart{

            display:block;
            padding-left: 7rem;
     
            img{
                height: 18rem;
                width: 15rem;
                margin-top: -23rem;
                margin-left: 8rem;
                transition: transform 1s;
            }
            .botonComenzar:hover{
                transform: scale(1.5);
            }
        }

        .seleccionDeDispositivo{

            padding-top: 3rem;
            padding-left: 12rem;
            font-size: 3rem;
        
        }
    }

/*++++++++ aireAcondicionado ++++++++++*/

    .headerAire {
        margin-left: 9rem;
        margin-right: 9rem;

    }

/*++++++++ Notebook ++++++++++*/

    .headerNotebook {
        margin-left: 9rem;
        margin-right: 9rem;

    }

/*++++++++ pcDesktop ++++++++++*/

    .headerDesktop {
        margin-left: 9rem;
        margin-right: 9rem;

    }
}