/*++++++++++++++++Estilos Header Index+++++++++++++++++*/

.headerIndex {
    /*Estilos de area wrapper general*/
    grid-area: header;
    /*Estilos custom de seccion*/
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns:min-content;
    grid-template-rows:min-content;
    padding: 10px;
    grid-template-areas:
        "sectionTecnico sectionPresentacion"
        "sectionParrafo sectionParrafo"
        "sectionFlechas sectionFlechas"
        "sectionSeleccionDispositivo sectionSeleccionDispositivo"        
    ;
    .sectionTecnico{
        
        grid-area: sectionTecnico;

        .tecnico {
            height: 25rem;
            width: 14rem;
        }
        
    }
    .sectionPresentacion {
        color: $color-texto-gral;
        font-family: 'Fredoka One', sans-serif;
        grid-area: sectionPresentacion;
        font-size: 0.8rem;
        box-sizing: border-box;
        text-shadow: 2px 2px 3.5px $color-sombras-index;
    }
    .sectionParrafo{
        grid-area: sectionParrafo;
        color: $color-texto-gral;
        font-family: 'Fredoka One', sans-serif;
        font-size: 1.5rem;
        box-sizing: border-box;
        text-shadow: 2px 2px 3.5px $color-sombras-index; 

        #bottom{
            color: $color-texto-gral;
            font-size: 2rem;
            }
    }

}


.sectionFlechas{
    
    grid-area: sectionFlechas;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    text-shadow: 4px 4px 7px $color-sombras-index;
    
}

.botonStart { 
    display: none;
    
}

.seleccionDeDispositivo {
    grid-area: sectionSeleccionDispositivo;
    color: $color-texto-gral;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    text-shadow: 2px 2px 3.5px $color-sombras-index;
    
}

/*++++++++++++Estilos Header aireAcondicionado+++++++++++++*/

    .headerAire {
        grid-area: headerAire; 

        .tituloAire {
            color: $color-texto-gral;
            text-shadow: 3px 3px 7px $color-sombras-index;
            font-size: 2.5rem;
            text-align: center;
            padding: 15px;
        }  
        
        .esquemaAire {
            padding: 0.5rem;
            margin: 1rem;
            box-shadow: 3px 2px 7px $color-sombras-cuadros-aire; 
            background-color: #f0f8ffe5;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;

                .subtituloAire {
                    color: $color-texto-secundario;
                    text-shadow: 3px 3px 7px $color-sombras-index;
                    font-size: 1.5rem;  
                    
                }

                .partesAire {
                    font-size: 0.9rem;
                    
                }
                .videoHeaderAire{
                    height: 9rem;
                    width: 16rem;
                }
            
        }
    }

/*++++++++++++Estilos Header notebook+++++++++++++*/

.headerNotebook {
    grid-area: headerNotebook; 

    .tituloNotebook {
        color: $color-texto-gral;
        text-shadow: 3px 3px 7px $color-sombras-notebook;
        font-size: 2.5rem;
        text-align: center;
        padding: 15px;
    }

    .esquemaNotebook {
        padding: 0.5rem;
        margin: 1rem;
        box-shadow: 3px 2px 7px $color-sombras-cuadros-notebook; 
        background-color: #f0f8ffe5;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        .subtituloNotebook {
            color: $color-texto-secundario;
            text-shadow: 3px 3px 7px $color-sombras-notebook;
            font-size: 1.5rem;
                
        }

        .partesNotebook {
            font-size: 0.9rem;
        }

        .videoHeaderNotebook{
            height: 9rem;
            width: 16rem;
        }
    }
}

/*++++++++++++++ Estilos Header pcDesktop +++++++++++++++*/

.headerDesktop {
    grid-area: headerDesktop; 

    .tituloDesktop {
        color: $color-texto-gral;
        text-shadow: 3px 3px 7px $color-sombras-pcdesktop;
        font-size: 2.5rem;
        text-align: center;
        padding: 15px;
    }

    .esquemaDesktop {
        padding: 0.5rem;
        margin: 1rem;
        box-shadow: 3px 2px 7px $color-sombras-cuadros-pcdesktop; 
        background-color: #f0f8ffe5;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        .subtituloDesktop {
            color: $color-texto-secundario;
            text-shadow: 3px 3px 7px $color-sombras-pcdesktop;
            font-size: 1.5rem;
                
        }

        .partesDesktop {
            font-size: 0.9rem;
        }

        .videoHeaderDesktop{
            height: 9rem;
            width: 16rem;
        }
    }
}


/*++++++++++++ Estilos Header redesSociales +++++++++++++*/

.tituloInfo {
    color: #ffffff;
    text-shadow: 3px 3px 7px #1ead0b;
    font-size: 2rem;
    text-align: center;
}
.container {
    padding: 1.5rem;
    display: grid;
    grid-template-areas: 
    "row1"
    "row2"
    "row3"
    "row4";
    text-shadow: 1px 1px 1px #ffffff; 
    
    
    .row1 {
        background-color: #ffffff10; 
        box-shadow: 2px 2px 5px #1ead0b96;        
        padding: 0.5rem;
        grid-area: row1;
        
        .col{
            pad: 30px;
    
            .parrafoInfo{
                
                color: #ffffff;
            }
        }
    }
    .row2 {
        background-color: #ffffff10; 
        box-shadow: 2px 2px 5px #1ead0b96;       
        padding: 0.5rem;
        grid-area: row2;
        margin-top: 1rem;
        
        .col{
            pad: 30px;
    
            .parrafoInfo{
                
                color: #ffffff;
            }
        }
    }
    .row3 {
        background-color: #ffffff10; 
        box-shadow: 2px 2px 5px #1ead0b96;          
        padding: 0.5rem;
        grid-area: row3;
        margin-top: 1rem;
        .col{
            pad: 30px;
    
            .parrafoInfo{
                
                color: #ffffff;
            }
        }
    }
    .row4 {
        background-color: #ffffff10; 
        box-shadow: 2px 2px 5px #1ead0b96;         
        padding: 0.5rem;
        grid-area: row4;
        margin-top: 1rem;
        .col{
            pad: 30px;
    
            .parrafoInfo{
                
                color: #ffffff;
            }
        }
    }

}