/*++++++++++++++++Estilos Main Index++++++++++++++++++*/

.aireAcondicionado, .desktop, .notebook, .proximamente, .proximamente2, .proximamente3 {
    border: none;
}
.mainIndex {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "aireAcondicionado"
        "desktop"
        "notebook"
        "proximamente"
        "proximamente2"
        "proximamente3"
    ;
    justify-content: center;
    flex-wrap: wrap;

    .aireAcondicionado {
        grid-area: aireAcondicionado;    
    }
    .desktop {
        grid-area: desktop;
    }
    .notebook {
        grid-area: notebook;
    }
    .proximamente {
        grid-area: proximamente;
    }
    .proximamente2 {
        grid-area: proximamente2;
    }
    .proximamente3 {
        grid-area: proximamente3;
    }

}
.producto {
    font-size: 1.9rem;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    display:grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1rem;  
    background-image: linear-gradient(to right, #302f2f,#ccc9c9);
    box-shadow: 3px 3px 5px  #ffffff;  

    .parrafoProducto {
        color: $color-texto-gral;
        text-shadow: 2px 2px 4px #000000;
        font-size: 1.7rem;
    }
    
    .imagenes {
    
        height: 14rem;
        width: 14rem;
    }
}

/*+++++++++++++Estilos Main aireAcondicionado++++++++++++++*/

.mainAire {
    
    grid-area: mainAire;
    
    .fallasAire {
    
        margin: 2rem;
        padding: 0.5rem;
        box-shadow: 3px 3px 7px $color-sombras-cuadros-aire; 
        background-color: #f0f8ffe5;
        margin-bottom: 5rem;
        
            .partesAire {
                font-size: 1rem;
            }
        
            .subtituloMainAire {
                text-align: center;
                font-size: 2rem;
                color: $color-texto-secundario;
                text-shadow: 3px 3px 7px $color-sombras-index;
        }

            .pMarcas {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                
                    p{
                        margin-bottom: 0rem;
        }
    }
}
.sectionFallas {
        flex-wrap: wrap;
        justify-content: center;
        display: grid;
        grid-template-areas: 
        "divFalla1 divFalla2"
        "divFalla3 divFalla4"
        "divFalla5 divFalla6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        

        div {
               
            justify-content: center;
            align-content: center;
            padding: 0.5rem;
            margin: 0.5rem;
            background-image: linear-gradient(to right, #ffffff,#9c9a9a);
            box-shadow: 3px 3px 5px  #ffffff;   
            
                .imagenAireGoteando { 
                    padding: 0.25rem;
                    margin: 0.25rem;
                    width: 5.2rem;
                    height: 5.2rem;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                }
 
                .h3Falla{
                    font-size: 1.2rem;
                }
            }

        .divFalla1{
            grid-area: divFalla1;
        }
        .divFalla2{
            grid-area: divFalla2;
        }
        .divFalla3{
            grid-area: divFalla3;
        }
        .divFalla4{
            grid-area: divFalla4;
        }
        .divFalla5{
            grid-area: divFalla5;
        }
        .divFalla6{
            grid-area: divFalla6;
        }
    }
    
    .divFalla7{
        grid-area: divFalla7;
        padding: 0.5rem;
        margin: 0.5rem;
        
        .textArea{
            height: 10rem;
            width: 15rem;
            
        }
        
        .botonNext {
            padding: 0.5rem;
            margin: 2rem;
            height: 10rem;
            width: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/*++++++++++++++Estilos Main Notebook++++++++++++*/
.mainNotebook {

    grid-area: mainNotebook;
    
    
    .fallasNotebook {
    
        margin: 2rem;
        padding: 0.5rem;
        box-shadow: 3px 3px 7px $color-sombras-cuadros-notebook; 
        background-color: #f0f8ffe5;

            .partesNotebook {
                font-size: 1rem;
            }

            .subtituloMainNotebook {
                text-align: center;
                font-size: 2rem;
                color: $color-texto-secundario;
                text-shadow: 3px 3px 7px $color-sombras-notebook;
            }
            .pMarcas {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                
                    p{
                        margin-bottom: 0rem;
              }
         }
    }
    
    .sectionFallasNotebook {
        flex-wrap: wrap;
        justify-content: center;
        display: grid;
        grid-template-areas: 
        "divFalla1Note divFalla2Note"
        "divFalla3Note divFalla4Note"
        "divFalla5Note divFalla6Note";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;  

        div {
               
            justify-content: center;
            align-content: center;
            padding: 0.5rem;
            margin: 0.5rem;
            background-image: linear-gradient(to right, #ffffff,#9c9a9a);
            box-shadow: 3px 3px 5px  #ffffff;      
            
                .imagenNotebookNoEnciende { 
                    padding: 0.25rem;
                    margin: 0.25rem;
                    width: 5.8rem;
                    height: 5.8rem;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                }

                .h3Falla{
                    font-size: 1.2rem;
                }
            }
            
            .divFalla1Note{
                grid-area: divFalla1Note;
            }
            .divFalla2Note{
                grid-area: divFalla2Note;
            }
            .divFalla3Note{
                grid-area: divFalla3Note;
            }
            .divFalla4Note{
                grid-area: divFalla4Note;
            }
            .divFalla5Note{
                grid-area: divFalla5Note;
            }
            .divFalla6Note{
                grid-area: divFalla6Note;
            }
        }
        
        .divFalla7Note{
            grid-area: divFalla7Note;
            padding: 0.5rem;
            margin: 0.5rem;
            
            .textAreaNote{
                height: 10rem;
                width: 15rem;
                
            }
            
            .botonNext {
                padding: 0.5rem;
                margin: 2rem;
                height: 10rem;
                width: 12rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
}

/*++++++++++++++Estilos Main pcDesktop++++++++++++*/

.mainDesktop {

    grid-area: mainDesktop;
    
    .fallasDesktop {
    
        margin: 2rem;
        padding: 0.5rem;
        box-shadow: 3px 3px 7px $color-sombras-cuadros-pcdesktop; 
        background-color: #f0f8ffe5;
        margin-bottom: 5rem;

            .partesDesktop {
                font-size: 1rem;
            }

            .subtituloMainDesktop {
                text-align: center;
                font-size: 2rem;
                color: $color-texto-secundario;
                text-shadow: 3px 3px 7px $color-sombras-pcdesktop;
            }
            .pMarcas {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                
                    p{
                        margin-bottom: 0rem;
              }
         }
    }
    
    .sectionFallasDesktop {
        flex-wrap: wrap;
        justify-content: center;
        display: grid;
        grid-template-areas: 
        "divFalla1Pc divFalla2Pc"
        "divFalla3Pc divFalla4Pc"
        "divFalla5Pc divFalla6Pc";

        div {
               
            justify-content: center;
            align-content: center;
            padding: 0.5rem;
            margin: 0.5rem;
            background-image: linear-gradient(to right, #ffffff,#9c9a9a);
            box-shadow: 3px 3px 5px  #ffffff;   
            
                .imagenFallaDesktop { 
                    padding: 0.25rem;
                    margin: 0.25rem;
                    width: 5.8rem;
                    height: 5.8rem;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                }

            .h3Falla{
                font-size: 1.2rem;
            }
        }

        .divFalla1Pc{
            grid-area: divFalla1Pc;
        }
        .divFalla2Pc{
            grid-area: divFalla2Pc;
        }
        .divFalla3Pc{
            grid-area: divFalla3Pc;
        }
        .divFalla4Pc{
            grid-area: divFalla4Pc;
        }
        .divFalla5Pc{
            grid-area: divFalla5Pc;
        }
        .divFalla6Pc{
            grid-area: divFalla6Pc;
        }
    }
    
    .divFalla7Pc{
        grid-area: divFalla7Pc;
        padding: 0.5rem;
        margin: 0.5rem;
       
        .textAreaDesktop{
            height: 10rem;
            width: 15rem;
        }
        .botonNext {
            padding: 0.5rem;
            margin: 2rem;
            height: 10rem;
            width: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/*++++++++++++++Estilos Main redesSociales++++++++++++*/

.mainLegales{
    color: #000000;

    .legales {
        font-size: 1.5rem;
        margin: 1.5rem;
        box-shadow: 3px 2px 7px #1ead0b; 
        background-color: #f0f8ff1c;
        margin-bottom: 5rem;

        li{
            font-size: 1rem;
            color: $color-texto-gral;

        }
    }
}

/*+++++++++++++Estilos Main serviciosAiresAcondicionados++++++++++++++*/

    .mainServiciosAires{
        padding-bottom: 3rem;
        section{
            h3{
                text-align: center;
                color: $color-texto-gral;
                font-size: 2rem;
                text-shadow: $color-sombras-cuadros-aire 1px 1px 1px;
                
            }
            div{
            
                display: grid;
                justify-items: center;
                border-radius: 50%;
                background-image: linear-gradient(to right,#53ebffef, #fd6118d0);
                box-shadow: 3px 2px 7px $color-sombras-index;
                padding: 3rem;
                margin: 2rem;
                margin-top: 0px;

                img{
                    height: 9rem;
                    width: 10rem;
                }
                
            }
        }
    }

    @media screen and (min-width: 375px) {
        .mainServiciosAires{
            section{
                div{
                
                    padding: 3.6rem;
                    margin-top: 0px;

                    img{
                        height: 11rem;
                        width: 10rem;
                    } 
                }
            }
        }
    }

    @media screen and (min-width: 425px) {
        .mainServiciosAires{
            section{
                div{
                    padding: 3rem;
                    margin: 4.5rem;
                    margin-top: 0px;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .mainServiciosAires{
            display: grid;
            grid-template-areas: 
            "sectionInstalacion sectionMantenimiento"
            "sectionReparacion sectionReparacion";

            .sectionInstalacion{
                grid-area: sectionInstalacion;
                margin-left: auto;
                margin-right: auto;
            }
            .sectionMantenimiento{
                grid-area: sectionMantenimiento;
                margin-left: auto;
                margin-right: auto;
            }
            .sectionReparacion{
                grid-area: sectionReparacion;
                margin-left: auto;
                margin-right: auto;
            }             
        }
    }

    @media screen and (min-width: 1024px) {
        .mainServiciosAires{
            display: grid;
            grid-template-areas: 
            "sectionInstalacion sectionMantenimiento sectionReparacion";

            .sectionInstalacion{
                grid-area: sectionInstalacion;
            }
            .sectionMantenimiento{
                grid-area: sectionMantenimiento;
            }
            .sectionReparacion{
                grid-area: sectionReparacion;
               
            }             
        }
    }

    @media screen and (min-width: 1440px) {
        .mainServiciosAires{
            section{
                margin: 2rem;
                div{
                    img{
                        height: 16rem;
                        width: 14rem;
                    } 
                }
            }
        }
    }

    @media screen and (min-width: 1750px) {
        .mainServiciosAires{
            section{
                margin: 3.5rem;
                div{
                    img{
                        height: 19rem;
                        width: 17rem;
                    } 
                }
            }
        }
    }

    @media screen and (min-width: 1750px) {
        .mainServiciosAires{
            section{
                padding: 3.9rem;
                
            }
        }
    }


    
/*-------------------------------Medias Queries----------------------------*/

    /*+-+-+-+-Estilos hasta 768px-+--+-+-+-*/

 @media screen and (min-width: 768px) {
        
 /*++++++++Index+++++++++++++*/
        
    .mainIndex {
        grid-template-areas:
            "aireAcondicionado desktop"
            "notebook proximamente"
            "proximamente2 proximamente3"   
        ;
        flex-direction: row;
        justify-content: space-around;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 5fr 5fr;
        gap: 2rem;
        
        .aireAcondicionado {
            grid-area: aireAcondicionado;           
        }
        .desktop {
            grid-area: desktop;
        }
        .notebook {
            grid-area: notebook;           
        }
        .proximamente {
            grid-area: proximamente;           
        }
        .proximamente2 {
            grid-area: proximamente2;            
        }
        .proximamente3 {
            grid-area: proximamente3;       
        }
    }

    /*++++++++ aireAcondicionado ++++++++++*/

    .mainAire {
        .fallasAire {
        
            margin: 3rem;
    
                .partesAire {
                    font-size: 1.5rem;
                }
            
                .subtituloMainAire {
                    font-size: 3rem;
                }
    
                .pMarcas {
                    font-size: 1.5rem;  
                    }
                }

        .sectionFallas {
                
                grid-template-areas: 
                "divFalla1 divFalla2 divFalla3"
                "divFalla4 divFalla5 divFalla6";
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 2rem;
                margin: 2rem;
        
                div {
                    
                    .imagenAireGoteando { 
                        width: 7rem;
                        height: 7rem;
                        margin-left: 1rem;    
                    }
                }   
            } 

            .divFalla7{
                margin-left: 11rem;
                
                .textArea{
                    height: 12rem;
                    width: 18rem; 
                }

                .botonNext {
                    margin-left: 3rem;
                }
            }
        }

        /*++++++++ Notebook ++++++++++*/

    .mainNotebook {

        .fallasNotebook {
            margin: 3rem;
    
                .partesNotebook {
                    font-size: 1.5rem;
                }
            
                .subtituloMainNotebook {
                    font-size: 3rem;
                }
    
                .pMarcas {
                    font-size: 1.5rem;  
                    }
                }

        .sectionFallasNotebook {
                
                grid-template-areas: 
                "divFalla1Note divFalla2Note divFalla3Note"
                "divFalla4Note divFalla5Note divFalla6Note";
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 2rem;
                margin: 2rem;
        
                div {
                    .imagenNotebookNoEnciende {
                        width: 7rem;
                        height: 7rem;
                        margin-left: 1rem;
                    }
                }   
            } 

            .divFalla7Note{
                margin-left: 11rem;
                
                .textArea{
                    height: 12rem;
                    width: 18rem; 
                }

                .botonNext {
                    margin-left: 3rem;
                }
            }
        }

        /*++++++++ pcDesktop ++++++++++*/

    .mainDesktop {
        .fallasDesktop {
            margin: 3rem;
    
                .partesDesktop {
                    font-size: 1.5rem;
                }
            
                .subtituloMainDesktop {
                    font-size: 3rem;
                }
    
                .pMarcas {
                    font-size: 1.5rem;  
                    }
                }

        .sectionFallasDesktop {
    
                grid-template-areas: 
                "divFalla1Pc divFalla2Pc divFalla3Pc"
                "divFalla4Pc divFalla5Pc divFalla6Pc";
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 2rem;
                margin: 2rem;
        
                div {
                    .imagenFallaDesktop { 
                        width: 7rem;
                        height: 7rem;
                        margin-left: 1rem; 
                    }
                }   
            } 

            .divFalla7Pc{
                margin-left: 11rem;
                
                .textArea{
                    height: 12rem;
                    width: 18rem; 
                }

                .botonNext {
                    margin-left: 3rem;
                }
            }
        }

/*++++++++++++++redesSociales++++++++++++*/

    .mainLegales{
        .legales {

            margin: 3.5rem;
            font-size: 1.5rem;

            li{
                font-size: 1.5rem;
            }
        }
    }
 }
/*+-+-+-+-Estilos hasta 1024px-+--+-+-+-*/

@media screen and (min-width: 1024px) {
    
 /*++++++++++++++Index+++++++++++++*/
    
    .mainIndex {
        display: grid;
        grid-template-areas:
            "aireAcondicionado desktop notebook"
            "proximamente proximamente2 proximamente3"
        ;
        flex-direction: row;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        img{
            transition: transform 0.5s;
            }
        img:hover{
            transform: scale(1.2) ;
        }

        .aireAcondicionado {
            grid-area: aireAcondicionado;
        }
        .desktop {
            grid-area: desktop;                        
        }
        .notebook {
            grid-area: notebook;
        }
        .proximamente {
            grid-area: proximamente;      
        }
        .proximamente2 {
            grid-area: proximamente2;  
        }
        .proximamente3 {
            grid-area: proximamente3;
        }
    
    }

     /*++++++++ aireAcondicionado ++++++++++*/
    .mainAire{
        .divFalla7{
           margin-left: 19rem;
       }
       .sectionFallas {
            div {
                    
                .imagenAireGoteando { 
                    width: 8.5rem;
                    height: 8.5rem;
                    margin-left: 3rem;
                    
                }
            }
        }
    }
     
    /*++++++++ Notebook ++++++++++*/

     .mainNotebook{
        .divFalla7Note{
           margin-left: 19rem;
       }

       .sectionFallasNotebook {
            div {  
                .imagenNotebookNoEnciende { 
                    width: 8.5rem;
                    height: 8.5rem;
                    margin-left: 3rem;
                    
                }
            }
        }
    }

     /*++++++++ pcDesktop ++++++++++*/

     .mainDesktop{
        .divFalla7Pc{
           margin-left: 19rem;
       }

       .sectionFallasDesktop {
            div {
                .imagenFallaDesktop { 
                    width: 8.5rem;
                    height: 8.5rem;
                    margin-left: 3rem;
                    
                }
            }
        }
    }

    /*++++++++++++++redesSociales++++++++++++*/

    .mainLegales{
        .legales {
            margin: 8rem;
        }
    }

}

/*+-+-+-+-Estilos hasta 1750px-+--+-+-+-*/

@media screen and (min-width: 1750px) {

/*++++++++++++++Index+++++++++++++*/

    .mainIndex{
        .producto{
            padding-bottom: 2rem;
            padding-top: 2rem;
            
        }
    }

    /*++++++++ aireAcondicionado ++++++++++*/
    .mainAire{
        margin: 7rem;

        .divFalla7{
            margin-left: 24rem;
            display: flex;
            gap: 2rem;
            
            .textArea{
                height: 14rem;
                width: 20rem;
                display: flex;
                flex-direction: column;   
            }
            .botonNext {
                height: 15rem;
                width: 17rem;
            }
       }
       .sectionFallas {
            grid-template-areas: 
            "divFalla1 divFalla2 divFalla3 divFalla4 divFalla5 divFalla6";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 2rem;

            div {
                    
                .imagenAireGoteando { 
                    width: 9rem;
                    height: 9rem;
                    margin-left: 1.5rem;
                    
                }
            }
        }
    }

    /*++++++++++ Notebook +++++++++++*/
    
    .mainNotebook{
        margin: 7rem;

        .divFalla7Note{
            margin-left: 24rem;
            display: flex;
            gap: 2rem;
            
            .textArea{
                height: 14rem;
                width: 20rem;
                display: flex;
                flex-direction: column;   
            }
            .botonNext {
                height: 15rem;
                width: 17rem;
            }
       }
       .sectionFallasNotebook {
            grid-template-areas: 
            "divFalla1Note divFalla2Note divFalla3Note divFalla4Note divFalla5Note divFalla6Note";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 2rem;

            div {
                    
                .imagenNotebookNoEnciende { 
                    width: 9rem;
                    height: 9rem;
                    margin-left: 1.5rem;
                    
                }
            }
        }
    }

     /*++++++++++ pcDesktop +++++++++++*/

     .mainDesktop{
        margin: 7rem;

        .divFalla7Pc{
            margin-left: 24rem;
            display: flex;
            gap: 2rem;
            
            .textArea{
                height: 14rem;
                width: 20rem;
                display: flex;
                flex-direction: column;   
            }
            .botonNext {
                height: 15rem;
                width: 17rem;
            }
       }
       .sectionFallasDesktop {
            grid-template-areas: 
            "divFalla1Pc divFalla2Pc divFalla3Pc divFalla4Pc divFalla5Pc divFalla6Pc";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 2rem;

            div {
                    
                .imagenFallaDesktop { 
                    width: 9rem;
                    height: 9rem;
                    margin-left: 1.5rem;
                    
                }
            }
        }
    }

}