/*++++++++++++++++Estilos Main Index++++++++++++++++++*/

.aireAcondicionado, .desktop, .notebook, .proximamente, .proximamente2, .proximamente3 {
    border: none;
}
.mainIndex {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "aireAcondicionado"
        "desktop"
        "notebook"
        "proximamente"
        "proximamente2"
        "proximamente3"
    ;
    justify-content: center;
    flex-wrap: wrap;
    

    .aireAcondicionado {
        grid-area: aireAcondicionado;    
    }
    .desktop {
        grid-area: desktop;
    }
    .notebook {
        grid-area: notebook;
    }
    .proximamente {
        grid-area: proximamente;
    }
    .proximamente2 {
        grid-area: proximamente2;
    }
    .proximamente3 {
        grid-area: proximamente3;
    }

}
.producto {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    display:grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1.5rem;  
    background-color: #f8f8f873; 
    box-shadow: 3px 3px 5px  #b8b8b8;  

    .parrafoProducto {
        color: $color-texto-gral;
        font-size: 1.2rem;
    }
    
    .imagenes {
        height: 16rem;
        width: 16rem;
    }
}

/*+++++++++++++Estilos Main aireAcondicionado++++++++++++++*/

.mainAire {
    
    grid-area: mainAire;
    
    .fallasAire {
    
        margin: 1rem;
        padding: 0.5rem;
        box-shadow: 3px 3px 7px $color-sombras-cuadros-aire; 
        background-color: #f0f8ffe5;
        
            .partesAire {
                font-size: 1rem;
            }
        
            .subtituloMainAire {
                text-align: center;
                font-size: 2rem;
                color: $color-texto-secundario;
                text-shadow: 3px 3px 7px $color-sombras-index;
        }

            .pMarcas {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                
                    p{
                        margin-bottom: 0rem;
        }
    }
}
.sectionFallas {
        flex-wrap: wrap;
        justify-content: center;
        display: grid;
        grid-template-areas: 
        "divFalla1 divFalla2"
        "divFalla3 divFalla4"
        "divFalla5 divFalla6";

        div {
               
            justify-content: center;
            align-content: center;
            padding: 0.5rem;
            margin: 0.5rem;
            background-color: #f8f8f89c; 
            box-shadow: 3px 2px 15px #302d2a;   
            
            
                .imagenAireGoteando { 
                    padding: 0.25rem;
                    margin: 0.25rem;
                    width: 5.2rem;
                    height: 5.2rem;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                }

                .textArea{
                    height: 7rem;
                    width: 7rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .h3Falla{
                    font-size: 1.2rem;
                }
        }

        .divFalla1{
            grid-area: divFalla1;
        }
        .divFalla2{
            grid-area: divFalla2;
        }
        .divFalla3{
            grid-area: divFalla3;
        }
        .divFalla4{
            grid-area: divFalla4;
        }
        .divFalla5{
            grid-area: divFalla5;
        }
        .divFalla6{
            grid-area: divFalla6;
        }
    }

    .divFalla7{
        grid-area: divFalla7;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    .botonNext {
        padding: 0.5rem;
        margin: 2rem;
        height: 10rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*++++++++++++++Estilos Main Notebook++++++++++++*/
.mainNotebook {

    grid-area: mainNotebook;
    
    
    .fallasNotebook {
    
        margin: 1rem;
        padding: 0.5rem;
        box-shadow: 3px 3px 7px $color-sombras-cuadros-notebook; 
        background-color: #f0f8ffe5;

            .partesNotebook {
                font-size: 1rem;
            }

            .subtituloMainNotebook {
                text-align: center;
                font-size: 2rem;
                color: $color-texto-secundario;
                text-shadow: 3px 3px 7px $color-sombras-notebook;
            }
            .pMarcas {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                
                    p{
                        margin-bottom: 0rem;
              }
         }
    }
    
    .sectionFallasNotebook {
        flex-wrap: wrap;
        justify-content: center;
        display: grid;
        grid-template-areas: 
        "divFalla1Note divFalla2Note"
        "divFalla3Note divFalla4Note"
        "divFalla5Note divFalla6Note";

        div {
               
            justify-content: center;
            align-content: center;
            padding: 0.5rem;
            margin: 0.5rem;
            background-color: #f8f8f89c; 
            box-shadow: 3px 2px 15px #302d2a;   
            
            
                .imagenNotebookNoEnciende { 
                    padding: 0.25rem;
                    margin: 0.25rem;
                    width: 5.8rem;
                    height: 5.8rem;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                }

                .textAreaNote{
                    height: 7rem;
                    width: 7rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .h3Falla{
                    font-size: 1rem;
                }
        }

        .divFalla1Note{
            grid-area: divFalla1Note;
        }
        .divFalla2Note{
            grid-area: divFalla2Note;
        }
        .divFalla3Note{
            grid-area: divFalla3Note;
        }
        .divFalla4Note{
            grid-area: divFalla4Note;
        }
        .divFalla5Note{
            grid-area: divFalla5Note;
        }
        .divFalla6Note{
            grid-area: divFalla6Note;
        }
    }
    
    .divFalla7Note{
        grid-area: divFalla7Note;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    .botonNext {
        padding: 0.5rem;
        margin: 2rem;
        height: 10rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

 
/*++++++++++++++Estilos Main pcDesktop++++++++++++*/
.mainDesktop {

    grid-area: mainDesktop;
    
    
    .fallasDesktop {
    
        margin: 1rem;
        padding: 0.5rem;
        box-shadow: 3px 3px 7px $color-sombras-cuadros-pcdesktop; 
        background-color: #f0f8ffe5;

            .partesDesktop {
                font-size: 1rem;
            }

            .subtituloMainDesktop {
                text-align: center;
                font-size: 2rem;
                color: $color-texto-secundario;
                text-shadow: 3px 3px 7px $color-sombras-pcdesktop;
            }
            .pMarcas {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                
                    p{
                        margin-bottom: 0rem;
              }
         }
    }
    
    .sectionFallasDesktop {
        flex-wrap: wrap;
        justify-content: center;
        display: grid;
        grid-template-areas: 
        "divFalla1Pc divFalla2Pc"
        "divFalla3Pc divFalla4Pc"
        "divFalla5Pc divFalla6Pc";

        div {
               
            justify-content: center;
            align-content: center;
            padding: 0.5rem;
            margin: 0.5rem;
            background-color: #f8f8f89c; 
            box-shadow: 3px 2px 15px #302d2a;   
            
            
                .imagenFallaDesktop { 
                    padding: 0.25rem;
                    margin: 0.25rem;
                    width: 5.8rem;
                    height: 5.8rem;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                }

                .textAreaDesktop{
                    height: 7rem;
                    width: 7rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .h3Falla{
                    font-size: 1rem;
                }
        }

        .divFalla1Pc{
            grid-area: divFalla1Pc;
        }
        .divFalla2Pc{
            grid-area: divFalla2Pc;
        }
        .divFalla3Pc{
            grid-area: divFalla3Pc;
        }
        .divFalla4Pc{
            grid-area: divFalla4Pc;
        }
        .divFalla5Pc{
            grid-area: divFalla5Pc;
        }
        .divFalla6Pc{
            grid-area: divFalla6Pc;
        }
    }
    
    .divFalla7Pc{
        grid-area: divFalla7Pc;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    .botonNext {
        padding: 0.5rem;
        margin: 2rem;
        height: 10rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*++++++++++++++Estilos Main redesSociales++++++++++++*/

.mainLegales{
    color: #000000;

    .legales {
        margin: 1rem 1rem;
        font-size: 1.5rem;
        margin: 1.5rem;
        box-shadow: 3px 2px 7px #1ead0b; 
        background-color: #f0f8ff1c;

        li{
            font-size: 1rem;
            color: $color-texto-gral;

        }
    }
}


/*-----------------Medias Queries-------------------*/

    /*+-+-+-+-Estilos hasta 768px-+--+-+-+-*/

        /*++++Index++++*/
@media screen and (min-width: 768px) {
    
    .mainIndex {
        display: grid;
        grid-template-areas:
            "aireAcondicionado desktop"
            "notebook proximamente"
            "proximamente2 proximamente3"   
        ;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-bottom: 5rem;
        
        .aireAcondicionado {
            grid-area: aireAcondicionado;
            .producto{
                padding: 1rem;
            }
        
        }
        .desktop {
            grid-area: desktop;

            .producto{
                padding: 1rem;
                padding-bottom: 2.9rem;
            }
        }
        .notebook {
            grid-area: notebook;
            .producto{
                padding: 1rem;
            }
        }
        .proximamente {
            grid-area: proximamente;

            .producto{
                padding: 1rem;
                padding-bottom: 6.6rem;
            }
        }
        .proximamente2 {
            grid-area: proximamente2;
            .producto{
                padding: 1rem;
            }
        }
        .proximamente3 {
            grid-area: proximamente3;
            .producto{
                padding: 1rem;
            }
        }
    
    }

}